<div class="game-status">
  <% if game.won? %>
    <div class="alert alert-success">Game Won</div>
  <% elsif game.lost? %>
    <div class="alert alert-danger">Game Lost</div>
  <% end %>
  
  <% if defined?(guess) && guess.errors.any? %>
    <div class="alert alert-danger">
      <% guess.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% elsif game.errors.any? %>
    <div class="alert alert-danger">
      <% game.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>
</div>