<div class="game-title">
  <span class="label label-danger">H</span>
  <span class="label label-danger">A</span>
  <span class="label label-danger">N</span>
  <span class="label label-danger">G</span>
  <span class="label label-warning">M</span>
  <span class="label label-warning">A</span>
  <span class="label label-warning">N</span>
  <span class="label label-primary invisible">*</span>
  <span class="label label-primary">G</span>
  <span class="label label-primary">A</span>
  <span class="label label-primary">M</span>
  <span class="label label-primary">E</span>
</div>

<hr/>
