<div class="game-status">
  <% if game.won? %>
    <div class="alert alert-success">Game Won</div>
  <% elsif game.lost? %>
    <div class="alert alert-danger">Game Lost</div>
  <% end %>
  
  <% if game.errors.any? || alert %>
    <div class="alert alert-danger">
      <% game.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      <% if alert %>
        <p><%= alert %></p>
      <% end %> 
    </div>
  <% end %>
  
</div>