<div class="game-secret panel panel-default">
  <div class="panel-heading">
    The word to guess
  </div>
  <div class="panel-body">
    <% game.secret.chars.each do |secret_char| %>
      <% if game.need_not_obsecure?(secret_char) %>
        <span class="label label-primary"><%= secret_char %></span>
      <% else %>
        <span class="label label-default">_</span>
      <% end %>
    <% end %>
  </div>
</div>