<div class="game-secret panel panel-default">
  <div class="panel-heading">
    The word to guess
  </div>
  <div class="panel-body">
    <% game.secret.chars.each do |secret_letter| %>
      <% if game.visible_to_player?(secret_letter) %>
        <span class="label label-default"><%= secret_letter %></span>
      <% else %>
        <span class="label label-primary">_</span>
      <% end %>
    <% end %>
  </div>
</div>