<table>
  <tr>
    <th>Secret</th>
    <th>Guesses</th>
    <th>Status</th>
    <th>Last played at</th>
  </tr>
  
  <% games.each do |game| %>
    <tr>
      <td><%= game.over? ? game.secret : game.obscured_secret %></td>
      <td><%= game.guesses %></td>
      
      <td>
        <% if game.won? %>
          <label>won</label>
        <% elsif game.lost? %>
          <label>lost</label>
        <% else %>
          <%= button_to "resume", game_path(game), method: :get %>
        <% end %>
      </td>
      
      <td><%= game.last_played_at %></td>
    </tr>
  <% end %>
</table>
