<% if notice %>
<div class="alert"><%= notice %></div>
<% end %>

<h3>Game history</h3>
<div>Active game if any</div>
<div>List of finished games</div>

<h3>Start a new game</h3>

<!-- Start a new game -->
<div>forbid starting a new game if there is an active one?</div>
<div>
<%= button_to "Start a new game", games_path %>
</div>
