<div class="container-fluid">
  <%= render "games/game_title" %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8">
        <div class="alert alert-danger">
          <p>
            Oops! The stuff you are looking for seems be lost into a <em>Black Hole</em>
          </p>
          <p>
            Maybe you should contact <a href="mailto:dan.liu@powershop.co.nz">this guy</a> for a galaxy guide
          </p>
        </div>
      </div>
      <div class="col-xs-4">
        <%= image_tag "black_hole.jpg", alt: "black hole picture", style: "width: 100%"%>
      </div>
    </div>
  </div>
</div>